# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.buildlog
build/
/flutter_*.png
android/.gradle/
android/app/*.keystore
.idea/
.vscode/
*.iml
.gradle/
web/

# macOS
.DS_Store

# Logs
logs/
*.log

# Generated
pubspec.lock
generated/

# Expo / React Native
node_modules/
.expo/
.expo-shared/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
.eas/
*.apk
*.aab
*.jks
*.keystore
